In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel('score.xlsx',index_col='지원번호')
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python
2번    강태원   구로고  184   40   35   50  55  25        Java
3번    강호림   구로고  168   80   75   70  80  75  Javascript
4번    김수찬   구로고  187   40   60   70  75  80         NaN
5번    김재욱   구로고  188   15   20   10  35  10         NaN
6번    박동현  디지털고  202   80  100   95  85  80           C
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON
8반    승근열  디지털고  190  100   85   90  95  95          C#

데이터 수정

In [ ]:
# repace : 데이터 값을 변경, inplace=True 지정
# 해당되는 값을 다른 값으로 변경
df['학교'].replace({'구로고':'가산고'},inplace=True)
df['학교'].replace({'구로고':'가산고','디지털고':'단지고'})

# 특정컬럼 값 변경
# 컬럼 = 변경값을 입력
df['SW특기'] = df['SW특기'].str.lower()  # 소문자
df['SW특기'].str.upper()                 # 대문자
df['SW특기'].str.capitalize()            # 첫글자대문자
df['키'] = 200

# 컬럼명 = 문자+문자
df['학교'] = df['학교']+'등학교'

# 특정셀 값 변경
df.loc['1번','국어'] = 100
df.loc[['2번','3번'],['국어','영어']] = 50

데이터 추가
* 컬럼을 추가 : df[컬럼명]
* row 추가 : df.loc[index명]

In [36]:
## 데이터 추가
## 컬럼에 없는 컬럼 이름을 입력하면 컬럼이 추가 됨.
df['합계'] = 0
df['합계'] = df['국어']+df['영어']+df['수학']+df['과학']+df['사회']
df['평균'] = df['합계']/5

조건식을 사용해서 값 변경

In [ ]:
# 결과컬럼 추가
df['결과'] = 'Fail'

# 결과컬럼 -> 조건식을 사용해서 값을 변경
filt = df['합계']>=400
df.loc[filt,'결과'] = 'Pass'

In [57]:
df['합산'] = 100
## 국어점수가 90점 이상이면 df['합산']+100
filt = df['국어']>=90
df.loc[filt,'합산'] = df.loc[filt,'합산']+100

데이터 삭제
- columns
- index

drop - columns 삭제

In [ ]:
# 데이터 삭제 - drop : columns, 적용 : inplace=True
df.drop(columns=['합산'],inplace=True)
# 컬럼 2개 삭제
df.drop(columns=['국어','영어'])
df.drop(cloumns=['합계','평균','결과'])

# 전체컬럼의 슬라이싱을 가지고 특정컬럼을 삭제할수 있음.
df.columns[0]
df.columns[3:5]
df.drop(columns=df.columns[3:5])

drop - index 삭제

In [ ]:
# drop 삭제 - index(row값 삭제) : inplace=True 반연
df.drop(index = '1번')

In [ ]:
# 김이포함되어 있는 학생을 삭제하시오.
filt = df['이름'].str.contains('김')
filt
df.drop(index=df[filt].index)

# 수학 80점 미만 삭제
filt = df['수학']<80
filt
# 조건식을 이요한 삭제
df.drop(index=df[filt].index)

row 추가

In [12]:
# row 추가 - index이름 추가해서 입력하면 가능, 입력형태 list입력하면 됨.
df.loc['9번'] = ['유승찬','디지털고등학교',184,100,100,100,100,100,'Django']

In [ ]:
# 9번 디지털고등하교 -> 가산고등학교, 'Django'->'Python
df.loc['9번',['학교','SW특기']] = ['가산고등학교','Python']
df.loc['7번','이름'] = '김혜정'
df.tail(3)

In [ ]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col='지원번호')
cols = list(df.columns)
cols

컬럼이름 변경

In [ ]:
# 컬럼 이름 전체변겨
df.columns = ['name','school','height','kor','eng','math','science','society','sw']

# 컬럼이름 변경 , inplace=True 반영됨
df.rename(columns={'이름':'name','학교':'school'})
df.rename(index={'1번':'no1'})