In [ ]:
import pandas as pd

In [ ]:
# 상단 3개를 삭제후 가져오기
# index 행정기관을 지정해서 df로 변환해서 출력
# 위 5개만 출력을 해보세요.

In [ ]:
# usecols : 원하는 컬럼만 가져올수 있음. 설정 : 'B,D,E' , 'B,E:Y' , 'A:E'
df = pd.read_excel('연령별인구현황01.xlsx',skiprows=3,index_col='행정기관',usecols='B,E:Y')
df.head()

In [ ]:
# df[0]  # 에러
# df[이름] : 컬럼을 보는 명령어 df['0~4세']
# df[슬라이싱] : row을 보는 명령어 df[1:3]
# df.iloc[번호] : row을 보는 명령어 df.iloc[3]
# df.loc[이름] : row을 보는 명령어 df.loc['전국  ']
df.index
df[0:1]
# df.info()
# 데이터 reploace함수를 적용, 타입을 변경 : astype
# df.iloc[0] = df.iloc[0].str.replace(",","").astype(int)
df

In [ ]:
### 남자부분만 가져옴
### 여자부분만 가져오서 출력하시오.
## 위 3개를 제외하고, 행정기관 index, 영자부분만 가져옴.
## [0], 천단위 제거, 차입을 int로 변경하시오.

In [64]:
df1 = pd.read_excel('연령별인구현황01.xlsx',skiprows=3,index_col='행정기관',usecols='B,AX:BS')
df.columns
df1.columns
df['0~4세']
df1['0~4세.2']
# 여자컬럼과 남자 컬럼명 다르기에 통일
# df1.columns = df.columns
df1.columns
# df1.iloc[0] = df1.iloc[0].str.replace(",","").astype(int)
df1[0:1]

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,연령구간인구수.2,0~4세.2,5~9세.2,10~14세.2,15~19세.2,20~24세.2,25~29세.2,30~34세.2,35~39세.2,40~44세.2,...,55~59세.2,60~64세.2,65~69세.2,70~74세.2,75~79세.2,80~84세.2,85~89세.2,90~94세.2,95~99세.2,100세 이상.2
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"25,754,968","646,489","968,575","1,132,783","1,123,926","1,335,449","1,614,754","1,613,807","1,535,876","1,983,088",...,"2,095,081","2,121,194","1,761,993","1,206,642","947,851","810,820","487,910","189,338","44,265","7,144"