In [ ]:
import pandas as pd
import numpy as np
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

fillna() : NaN데이터 값 처리

In [ ]:
# 결측치(NaN데이터)
# NaN데이터 채우기 : fillna()
# df.fillna('',inplace=True)
df.fillna('없음',inplace=True)
df

In [ ]:
# 학교컬럼에 NaN 데이터를 입력  : np.nan
df['학교'] = np.nan
# df.fillna('없음') # inplace=True, 모둔 NaN값에 해당데이터를 입력
# df['SW특기'].fillna('없음',inplace=True) # 해당컬럼에만 적용

In [ ]:
df = pd.read_excel('score.xlsx',index_col='지원번호')
df
# df['학교'] = np.nan

In [ ]:
# NaN 데이터 삭제 : dropna()
df.dropna()  # NaN 데이터가 있는 row를 모두 삭제

In [ ]:
# axis 축 : index 방향으로 삭제
# NaN 4,5번 row 데이터가 삭제
df.dropna(axis='index',how='any')

In [ ]:
# dropna : NaN 데이터 삭제, 
# axis : 축 - index : row삭제, columns : column삭제
# how default : any - NaN값이 1개라도 있으면 삭제, all - 전부 NaN일때 삭제됨
df.dropna(axis='columns',how = 'all')

In [ ]:
df['학교'] = np.nan

In [ ]:
df

* fillna : NaN데이터 해당값으로 채워줌
* dropna : NaN데이터를 삭제
- axis : 축 index - row방향으로 삭제,columns - columns 방향으로 삭제
- how : 어떤경우에 삭제할지 결정 any - 1개라도 NaN 값이 있을때면 삭제,all - 모두 NaN일때 삭제

* np.nan : numpy라이브러리 NaN 입력