In [ ]:
import pandas as pd
import numpy as np
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_excel('연령별인구현황01.xlsx',skiprows=3,nrows=1,usecols='B,E:Y',index_col='행정기관')
# df.loc['전국']
df.index
df.loc['전국  ']
## 빈공백 제거
df.index[0].strip()
## index 1번째 row데이터를 출력
df.loc[df.index[0]]  # df,loc['전국  ']

## index 이름을 변경
df.rename(index={df.index[0]:df.index[0].strip()},inplace=True)
df.index

In [ ]:
df.loc['전국']

In [ ]:
df.loc['전국'] = df.loc['전국'].str.replace(",","").astype(int)

In [ ]:
df.info()
df

In [ ]:
df = df.T
df

In [ ]:
df.describe()

In [ ]:
df.iloc[0] = df.iloc[0].str.replace(",","").astype(int)

In [ ]:
df.loc['0~4세']+df.loc['5~9세']

In [ ]:
# df['전국'] = df['전국'].str.replace(",","").astype(int)
df['전국'].describe()
df['전국'].max()
df['전국'].min()

In [ ]:
### 이름변경
### 출생아 수, 최대값,최소값을 출력하시오.
### 축을 변경하시오.

In [96]:
import pandas as pd
import numpy as np
df = pd.read_excel('합계출산율.xlsx',skiprows=2,index_col=0,nrows=2)
df.index.name = '목록'
# df['2014'] # 세로방향(컬럼방향)
# df.loc[]  # 가로방향(index방향)
df.index.values
df.loc['출생아\xa0수']      # 1. 가로방향(index방향)
df.iloc[0]                 # 2. 가로방향(index방향)
df.rename(index={'출생아\xa0수':'출생아 수','합계\xa0출산율':'합계 출산율'},inplace=True)
df = df.T
df

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

목록    출생아 수  합계 출산율
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052
2018  326.8   0.977
2019  302.7   0.918
2020  272.3   0.837
2021  260.6   0.808
2022  249.1   0.780
2023  230.0   0.720

In [94]:
df['출생아 수'].max()
df['출생아 수'].min()

np.float64(230.0)

In [97]:
import pandas as pd
import numpy as np
df = pd.read_excel('합계출산율.xlsx',skiprows=2,nrows=2,index_col=0)
df.index.values

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

array(['출생아\xa0수', '합계\xa0출산율'], dtype=object)

In [98]:
df.rename(index={'출생아\xa0수':'출생아 수','합계\xa0출산율':'합계 출산율'},inplace=True)
df.index.values

array(['출생아 수', '합계 출산율'], dtype=object)

In [101]:
df = df.T
df.describe()

           출생아 수     합계 출산율
count   10.00000  10.000000
mean   327.93000   0.970800
std     78.06133   0.188678
min    230.00000   0.720000
25%    263.52500   0.815250
50%    314.75000   0.947500
75%    394.10000   1.142000
max    438.40000   1.239000

In [102]:
df

      출생아 수  합계 출산율
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052
2018  326.8   0.977
2019  302.7   0.918
2020  272.3   0.837
2021  260.6   0.808
2022  249.1   0.780
2023  230.0   0.720

In [105]:
filt = (df['출생아 수']>=300) & (df['합계 출산율']>1)
df[filt]

      출생아 수  합계 출산율
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052