In [30]:
import pandas as pd
data = {
  '이름': ['강나래','강태원','강호림','김수찬','김재욱','박동현','박혜정','승군열'],
  '학교': ['구로고','구로고','가산고','구로고','가산고','가산고','구로고','구로고'],
  '키': [197,184,168,187,188,202,188,190],
  '국어': [90,40,80,40,15,80,55,100],
  '영어': [85,35,75,60,20,100,65,85],
  '수학': [100,50,70,70,10,95,45,90],
  '사회': [85,25,75,80,10,80,35,95],
  'SW특기': ['Python','Java','Javascript','','','C','PYTHON','C#']
}
data

{'이름': ['강나래', '강태원', '강호림', '김수찬', '김재욱', '박동현', '박혜정', '승군열'],
 '학교': ['구로고', '구로고', '가산고', '구로고', '가산고', '가산고', '구로고', '구로고'],
 '키': [197, 184, 168, 187, 188, 202, 188, 190],
 '국어': [90, 40, 80, 40, 15, 80, 55, 100],
 '영어': [85, 35, 75, 60, 20, 100, 65, 85],
 '수학': [100, 50, 70, 70, 10, 95, 45, 90],
 '사회': [85, 25, 75, 80, 10, 80, 35, 95],
 'SW특기': ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']}

In [4]:
df = pd.DataFrame(data)

In [6]:
# index 지정
df = pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번'])
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object')

In [7]:
# index만 출력
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object')

In [ ]:
# 컬럼 가져오기, 1중 학생의 값 가져오기.
df['이름']  # 컬럼의 값을 입력
df.loc['1번'] # index값을 입력

이름         강나래
학교         구로고
키          197
국어          90
영어          85
수학         100
사회          85
SW특기    Python
Name: 1번, dtype: object

In [16]:
df.loc['1번']

이름         강나래
학교         구로고
키          197
국어          90
영어          85
수학         100
사회          85
SW특기    Python
Name: 1번, dtype: object

In [23]:
# index에 이름을 설정
df.index.name='지원번호'
df

     지원번호   이름   학교    키   국어   영어   수학  사회        SW특기
지원번호
0      1번  강나래  구로고  197   90   85  100  85      Python
1      2번  강태원  구로고  184   40   35   50  25        Java
2      3번  강호림  가산고  168   80   75   70  75  Javascript
3      4번  김수찬  구로고  187   40   60   70  80
4      5번  김재욱  가산고  188   15   20   10  10
5      6번  박동현  가산고  202   80  100   95  80           C
6      7번  박혜정  구로고  188   55   65   45  35      PYTHON
7      8번  승군열  구로고  190  100   85   90  95          C#

In [ ]:
# 지원번호 삭제 -> 컬럼으로 변경
df.reset_index(inplace=True)  # inplace=True넣어야 삭제가 가능
df

ValueError: cannot insert 지원번호, already exists

In [27]:
df['지원번호']

지원번호
0    1번
1    2번
2    3번
3    4번
4    5번
5    6번
6    7번
7    8번
Name: 지원번호, dtype: object

In [33]:
df = pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번',''])
df.index.name = '지원번호'
df

ValueError: Length of values (8) does not match length of index (9)

In [34]:
# index를 삭제해서 적용
df.reset_index(drop=True,inplace=True) # drop:index삭제, inplace:적용
df

  지원번호   이름   학교    키   국어   영어   수학  사회        SW특기
0   1번  강나래  구로고  197   90   85  100  85      Python
1   2번  강태원  구로고  184   40   35   50  25        Java
2   3번  강호림  가산고  168   80   75   70  75  Javascript
3   4번  김수찬  구로고  187   40   60   70  80
4   5번  김재욱  가산고  188   15   20   10  10
5   6번  박동현  가산고  202   80  100   95  80           C
6   7번  박혜정  구로고  188   55   65   45  35      PYTHON
7   8번  승군열  구로고  190  100   85   90  95          C#