조건

In [ ]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

In [ ]:
# 조건
df['키']>=185

In [10]:
# 조건식을 변수에 저장
filt = df['키']>=185
df[filt]    # 조건에 해당되는 값만 출력
df[~filt]   # 조건에 해당되지 않는 값만 출력
df[df['키']>=185]
df[~(df['키']>=185)]

       이름   학교    키  국어  영어  수학  사회        SW특기
지원번호
2번    강태원  구로고  184  40  35  50  25        Java
3번    강호림  가산고  168  80  75  70  75  Javascript

In [ ]:
# 같은 결과값.
df[df['키']>=185]   # 키가 185 이상 모든 컬럼
df.loc[df['키']>=185]    # 키가 185 이상 모든 컬럼,컬럼을 지정할수 없음
df.loc[df['키']>=185,'이름']  # 키가 185이상, 이름 컬럼만 출력
df['키']>=185   # True, False 의 값으로 출력
df.loc[df['키']>=185,['이름','키','SW특기']]

조건식

In [ ]:
# 조건식 and &, or
filt = (df['키']>=185) & (df['학교'] == '구로고')
df[filt]

In [ ]:
# or 조건식
df.loc[(df['키']<170) | (df['키']>200)]

       이름   학교    키  국어   영어  수학  사회        SW특기
지원번호
3번    강호림  가산고  168  80   75  70  75  Javascript
6번    박동현  가산고  202  80  100  95  80           C

In [ ]:
### 문자열(str) 조건  -> 김으로 시작되는 startwith
### 문자열마수 endwith,strip,raplace
filt = df['이름'].str.startswith('강')
df[filt]
df[df['이름'].str.startswith('김')]

# 수가 포함되어 있는 이름을 검색: containts()
filt = df['이름'].str.contains('김')
df[~filt]

# lower : 소문자 변화
df['SW특기'].str.lower()
# upper : 대문자 변환
df['SW특기'].str.upper()

df['SW특기']
langs = ['Python','Java']
## list() : 리스트에 있는 단어가 포함되어 있는지 체크
filt = df['SW특기'].isin(langs)  # 포함하는지 체크
df[filt]

### 소문자 취환
langs = ['python','java']
filt = df['SW특기'].str.lower().isin(langs)
df[filt]

In [ ]:
## java 라는 글자가 있는지 체크
## na = True : NaN True 인식, na = False : NaN False 인식
df['SW특기'].str.contains("Java")
filt = (df['SW특기'].str.contains("Java",na = True))
df[filt]

df.info()