In [ ]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

In [ ]:
df.loc['1번']
df.iloc[0]
df.iloc[4]
df.iloc[2:5]  # index 2 부터 5 앞에 까지 ...2,3,4 를 가져옴.SW특기

df.iloc[0,1]  # row 0번째의 1번째 값을 가져옴. 1번의 학교이름을 가져옴.
df.iloc[[0,1],1]  # 0번째 , 1번째 학생의 1번의 학교이름을 가져옴. = df.loc[['1번','2번'],'학교']

df.iloc[[0,1],[1,3]] # 0번째,1번째 학생의 1번 학교이름, 3번 국어점수를 가져옴 = df.loc[['1번','2번'],['학교','국어']]
df.loc['1번':'3번','학교':'영어']
df.iloc[0:3,1:5]

       학교    키  국어  영어
지원번호
1번    구로고  197  90  85
2번    구로고  184  40  35
3번    가산고  168  80  75

iloc - index번호를 가지고 row정보를 가져옴