In [4]:
import pandas as pd
import numpy as np

In [ ]:
# pandas 1차원행렬 -> Series
temp = pd.Series([-20,-10,10,20],index=['Jan','Feb','Mar','Apr'])
temp.max()
temp.min()
temp.mean()
temp.describe()
temp
temp['Jan']
temp.iloc[0]

In [ ]:
# pandas 2차원행렬 -> DataFrame
## dict 타입 2차원 구조
data = {
   '이름' : ['강나래', '강태원', '강호림', '김수찬', '김재욱', '박동현', '박혜정', '승근열'],
   '학교' : ['구로고', '구로고', '구로고', '구로고', '구로고', '디지털고', '디지털고', '디지털고'],
   '키' : [197, 184, 168, 187, 188, 202, 188, 190],
   '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
   '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
   '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
   '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
   '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
   'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
df = pd.DataFrame(data)
data['이름']

In [ ]:
df['이름']  # 컬럼의 정보가 나타남
df.iloc[0]  # row의 정보가 나타남
df.loc[0]

In [ ]:
df = pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번'])
df.index.name = '지원번호'
df['이름']
df.loc['1번']
df.iloc[0]

In [ ]:
df[['이름','키','SW특기']]
df['학교']

In [ ]:
# df = pd.DataFrame(data,columns=['이름','학교','SW특기'])
df = pd.DataFrame(data)
df2 = df[['이름','학교','SW특기']]
df2

In [ ]:
df = pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번'])
df.index.name = '지원번호'
df

In [ ]:
# index,columns 2가지
df.index
df.columns[0]
df.columns
df.columns[4]
df[df.columns[4]]
df['영어']

df.index
df.loc[[df.index[0],df.index[1]]]
df[0:4]

파일저장 : csv,txt,xlsx

In [62]:
df = pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8반'])
df.index.name = '지원번호'
df
# excel 에서 한글이 깨어지지 않음. utf-8로만 하면 깨짐
df.to_csv('score.csv',encoding='utf-8-sig')

In [63]:
df = pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8반'])
df.index.name = '지원번호'
df
df.to_csv('score.txt',sep = ',')  ## sep = '\t' 로 변결다능

In [65]:
df = pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8반'])
df.index.name = '지원번호'
df
df.to_excel('score.xlsx')

index 지정
- reset_index해제

In [ ]:
df = pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8반'])
df.index.name = '지원번호'
df

# index지적 삭제 : drop=True, drop=True를 하지 않으면 index가 컬럼으로 변경됨
df.reset_index(drop=True)
df
# index지정 반영 : inplace=True
df.reset_index(drop=True,inplace=True)
df

set index반영

In [ ]:
df = pd.DataFrame(data)
df
# index지정, inplace=True 반영
df.set_index('이름',inplace=True)
df

index 정렬

In [ ]:
df 
# index로 순차정렬 , ascending=Fals : 역순정렬
df.sort_index(ascending=False)

In [ ]:
data = {
   '영화' : ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '괴물', '도둑들', '7번방의 선물', '암살'],
   '개봉 연도' : [2014, 2019, 2017, 2014, 2006, 2012, 2013, 2015],
   '관객 수' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (단위 : 만 명)
   '평점' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}
df = pd.DataFrame(data)
df

In [ ]:
### index지정 : 영화
## 영화이름으로 역순정렬
df.set_index('영화',inplace=True)
df.sort_index(ascending=False)

csv,txt,excel 파일열기

In [ ]:
# read_csv : csv파일열기 index 지정 : index_col
df = pd.read_csv('score.csv',index_col='지원번호')
df

In [ ]:
# read_csv : txt파일열기  , sep = '\t' 로 지정이 되어 있으면 sep='\t' 
df = pd.read_csv('score.txt',sep=',',index_col='지원번호')
df

In [ ]:
# read_excel : excel 파일열기
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

DataFrame : 합치기 : concat(리스트)

In [ ]:
df1 = pd.read_csv('2014년졸음운전교통사고.csv',encoding='euc-kr')
df2 = pd.read_csv('2015년졸음운전교통사고.csv',encoding='euc-kr')
df3 = pd.read_csv('2016년졸음운전교통사고.csv',encoding='euc-kr')
df1
df2
df3
df = pd.concat([df1,df2,df3])  # DataFrame : 합치기
df

In [ ]:
df = pd.read_excel('students.xlsx',index_col='이름')
df.tail(10)

array([['구로고', 54, 61, 78, 34, 'Javascript'],
       ['디지털고', 73, 78, 43, 29, 'C'],
       ['디지털고', 84, 93, 83, 15, 'PYTHON'],
       ...,
       ['구로고', 36, 91, 66, 14, 'PYTHON'],
       ['디지털고', 56, 68, 85, 42, nan],
       ['디지털고', 76, 85, 91, 83, 'Java']], dtype=object)

데이터확인: describe,info,head,tail,columns,shape,values

In [ ]:
df = pd.read_excel('score.xlsx',index_col='지원번호')
df.describe()  # 숫자로 구성된 컬럼의 개수,합계,평균,최소값,최대값
# df.info()      # 컬렁의 이름,총대구,타입,null 값 유무
df.head()      # 처음 5개
df.tail        # 마지막 5개
df.values      # 모든 값 출력
df.index       # index 값 출력
df.shape       # (8,9) - 8행 9열
df['키'].max()  # 컬럼 최대값
df['키'].min()  # 컬럼 최소값
df['키'].sum()  # 합계
df['키'].mean()  # 평균
df['키'].std()  # 
df['키'].nlargest()  # 최대값 5개 
df['키'].nsmallest()  #  최소값 5개
df['학교'].unique()   # 중복제거 리스트 확인
df['학교'].nunique()   # 중복제거 개수 확인
df['학교'].count()   # 전체개수 확인

컬럼 데이터 출력

In [ ]:
# 컬럼 데이터 출력
df.columns
df['이름']
df[['이름','키','국어']]
df[df.columns[0]]   # 첫번째 컬럼 출력
df[df.columns[-1]]  # 마지막 컬럼 출력
df[df.columns[[0,3,-1]]]  # 0주소,3주소,마지막주소 컬럼을 가져옴.
df['이름'][0:5]     # 컬러의 row값을 가져옴.
df[1:3]             # 모든컬럼의 1주소,2주소의 row값을 가져옴.
df.iloc[1:3]        # row에서 1주소,2주소를 가져옴.

출산율2 파일을 가져와서 출력하시오.

In [ ]:
df = pd.read_excel('출산율2.xlsx',skiprows=2,nrows=2,index_col=0)
df.index.name = '목록'
df

축반경

In [ ]:
df = df.T

In [ ]:
df.describe()

In [ ]:
df = pd.read_excel('연령별인구현황01.xlsx',skiprows=3,index_col='행정기관',usecols='B,E:Y')
df.index
df.loc[df.index[0]]  # row 0번째 정보확인
df.iloc[0]           # row 0번째 정보확인
df.iloc[0] = df.iloc[0].str.replace(",","").astype(int)
df.iloc[0]

In [ ]:
df = pd.read_excel('연령별인구현황01.xlsx',skiprows=3,nrows=1,index_col='행정기관',usecols='B,E:Y')
df

In [ ]:
##  0~100세 사이의 가장 인구수가 높은 나이때를 출려하시오.
# 1. int타입으로 변경, 2. 축변겨, 3.max()
df.rename(index={'전국  ':'전국'},inplace=True)
df.index
df.loc['전국']

In [ ]:
df.loc['전국'] = df.loc['전국'].str.replace(",","") .astype(int)
df = df.T
df['전국'].max()

row : df.loc, df.iloc

loc : index값으로 검색

In [ ]:
df = pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번'])
df.index.name = '지원번호'
df.loc['1번']          # 1개 row를 가져옴
df.loc[['1번','5번']]  # 2개 row를 가져옴
df.loc['1번','국어']   # 1번의 row의 국어성적만 가져옴.
df.loc[['1번','5번'],['국어','영어']]

# 슬라이싱
df.loc['1번':'5번','국어':'사회']  ## [row벙위,컬럼범위]

* iloc : index번호로 검색

In [ ]:
df.iloc[1]      # 1개 row를 가져옴
df.iloc[[0,2]]  # 2개 row를 가져옴
df.iloc[[0,2],2]      # 0번째 3번째 학생의 키를 출력
df.iloc[[0,2],[3,4]]  # 1번,2번, 학새의 국어,영어
# 슬라이싱           
df.iloc[1:4]          # 2번,3번,4번 학생 출력
df.iloc[1:4,0:3]      # 2번,3번,4번 이름,학교,키 출력

데이터 조건 검색

In [ ]:
# 조건식 생성
filt = df['키']>=185
# 조건식 대입
df[~filt] # not에 대한 결과값 출력
df[filt]        # columns
df.loc[filt]    # row
df.loc[filt,['국어','수학']]    # row
df.loc[filt,'키']    # row

& and 연산자, | or 연산자

In [ ]:
filt = (df['국어']>=70) & (df['키']<190)
df[filt]

문자열 함수 : startwhithm,contains,replace,lower,upper

In [ ]:
# starwith : 해당값으로 시작되는 단어 검색
filt = df['이름'].str.startswith('김')
df[filt]

# contains : 해당값이 포함되어 있는 단어 검색
filt = df['이름'].str.contains('수')
df.loc[filt,['이름','학교','키']]

# isin() : 포함이 되어 있는지 확인
langs = ['python','java']
filt = df['SW특기'].isin(langs)
df[filt]

# lower() : 해당값을 모두 소문자로 변환
# isin() : 괄호안에는 리스트 타입만 가능
filt = df['SW특기'].str.lower().isin(langs)
df[filt]

# 포함이 되어 있으면 모두 검색
# - nan데이터 처리를 하지 않으면 에러
filt = df['SW특기'].str.contains('java',na=False)
filt
df[filt]

# 소문자로 변경후 j가 포함되어 있는 정보 검색
df['SW특기'] = df['SW특기'].str.lower()

In [ ]:
### 소문자 j 가 포함되어 있는 정보 검색
filt = df['SW특기'].str.lower().str.contains('j',na=False)
df[filt]

       이름   학교    키  국어  영어  수학  과학  사회        SW특기
지원번호
2번    강태원  구로고  184  40  35  50  55  25        Java
3번    강호림  구로고  168  80  75  70  80  75  Javascript

In [ ]:
filt = df['SW특기'].str.lower().isin(['java','python'])
filt
df[filt]

컬럼수정 방법

In [ ]:
### 해당컬럼에 값을 넣으면 컬렁의 값이 수정됨
df['SW특기'] = df['SW특기'].str.lower()

null값 처리 : fillna - null값 채우기,dropna - null값 삭제하기

In [ ]:
import numpy as np

# df['학교'] = np.nan  # 학교컬럼에 NaN데이터 입력

# fillna : 모든컬럼의 NaN데이터를 모두 변경, inplace=True해야 적용이 됨
df.fillna('데이터없음',inplace=True)
df

In [273]:
df = pd.read_excel('score.xlsx',index_col='지원번호')

In [ ]:
df.fillna(0)

In [ ]:
## dropna
# axis 축방향으로 삭제 : index(row) , columns(columns방향)
# how : any(1개라도 있으면 모두row나columns삭제), all (모두 nan데이터일때 삭제)
# axis = 'index','columns', how = 'any','all'
df.dropna()    # index, any 기본 default - 해당되는 index(row)를 삭제
df['학교'] = np.nan

df.dropna(axis='index',how='all')  # 모두 nan row가 없어서 삭제가 안됨.
df.dropna(axis='columns',how='all')  # 학교컬럼이 모두 nan이기에 삭제됨
df.dropna(axis='index',how='any')  # 학교컬럼이 모두 nan 이기에 모든 row 삭제
df.dropna(axis='columns',how='any')  # 학교,SW특기 컬럼에 nan있기에 2개 컬럼삭제

* 데이터 정렬 : sort_values\
* index정렬 : sort_index

In [5]:
df = pd.read_excel('score.xlsx',index_col='지원번호')

In [ ]:
# df.sort_index(ascending=False)
df.sort_values('키')
df.sort_values('키',ascending=False)
df.sort_values('이름')
df.sort_values('국어')

### 2개 컬럼으로 정렬
df.sort_values(['국어','영어'],ascending=[True,False])