In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel("score.xlsx",index_col='지원번호')

In [ ]:
df['요일'] = 0

In [ ]:
### 랜덤으로 0~6 사이의 랜덤숫자를 입력
import random
df.shape
# 랜덤으로 0-6 까지 숫자 입력
for i in range(8):
  df.iloc[i,9] = random.randint(0,6)

In [ ]:
### 특정셀 부분을 수정
df.loc['1번','요일'] = 5
df.iloc[1,9] = 5

In [ ]:
## 컬럼 전체를 수정
df['요일'] = 5

In [11]:
def func(x):
  if x == 0 : return "일요일"
  elif x == 1 : return "월요일"
  elif x == 2 : return "화요일"
  elif x == 3 : return "수요일"
  elif x == 4 : return "목요일"
  elif x == 5 : return "금요일"
  elif x == 6 : return "토요일"

In [14]:
df['요일'] = df['요일'].apply(func)

In [16]:
### 결과컬럼 생성
df['결과'] = '불합격'

In [19]:
## 국어점수가 60점 이상이면 합격ㄱ으로 수정하시오.
filt = df['국어'] >= 60
df.loc[filt,'결과'] = '합격'

In [ ]:
## 학교+등학교
df['학교'] = df['학교'] + '등학교'

## 키+'cm'
## astype() 타입변경후 문자열 + 문자열
df['키'] = df['키'].astype(str)+'cm'

In [ ]:
df.groupby('학교')['이름'].sum()

* 컬럼이 숫자가 아니면 실행이 안됨
* mean(),max(),min(),std()

In [ ]:
# df.groupby('학교')['이름'].count()
df.groupby('학교')['국어'].mean()
df.groupby('학교')['국어'].count()
df.groupby('학교')['국어'].sum().sort_values(ascending=False)

In [46]:
df['학년'] = [3,3,2,1,1,3,2,2]

In [ ]:
df.groupby(['학교','학년'])['국어'].agg(['mean','min','max','sum'])

In [49]:
df = pd.read_csv('chipotle.tsv',sep='\t')

In [51]:
df.shape

(4622, 5)

In [ ]:
df.info()

In [53]:
df = pd.read_csv('drinks.csv')

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
### 모든 숭의 총량을 출려하시오.
### total_servings 컬럼을 구하시오. beer+spirit+wine
#  / 전체 알코올 도수를 확인
df['total_servings'] = df['beer_servings']+df['spirit_servings']+df['wine_servings']
###

In [64]:
df['total_servings'] = df['beer_servings']+df['spirit_servings']+df['wine_servings']

In [ ]:
df['continent'].unique()
filt = df['continent'].isnull()
df.loc[filt,'total_servings'].sum()

In [ ]:
## continent : 대률 Nan 값을 OT로 변경 
df['continent'].fillna('OT',inplace=True)

In [ ]:
### 대륙별 total_servings을 구하시오.
df.groupby('continent')['total_servings'].sum().sort_values(ascending=False)

In [ ]:
df.columns

In [ ]:
df['alcohol_rate'] = df['total_litres_of_pure_alcohol']/df['total_servings']
df[['country','alcohol_rate']].sort_values('alcohol_rate').head(5)
df['alcohol_rate'].fillna(0,inplace=True)

In [ ]:
df[['country','alcohol_rate']].sort_values('alcohol_rate',ascending=False).head()

In [ ]:
### kor 포함되어 있는 나라를 출력하시오.
filt = df['country'].str.lower().str.contains('kor')
df[filt][['alcohol_rate','country']]

In [ ]:
### 술 소비량 대비 알콜 비율이 어느 정도 되는지 출력하시오.
## 알코올 비율을 계산해서 alcohol_rate 컬럼을 추가
## 'total_litres_of_pure_alcohol' 알코올 비율을 total_servings 으로 나눈것
## 술소비량 대비 알콜 비율이 높은 나라별 20개를 출력하시오.
df['alcohol_rate'] = df['total_litres_of_pure_alcohol']/df['total_servings']
df.sort_values('alcohol_rate').head(5)
## 대육별 알콜비율도 계산해서 출력하시오.
df['alcohol_rate'].fillna(0,inplace=True)
df.groupby('continent')['alcohol_rate'].sum().sort_values(ascending=False)