In [61]:
import pandas as pd
import numpy as np

df = pd.read_csv('chipotle.tsv',sep='\t')
df.tail(2)

,order_id,quantity,item_name,choice_description,item_price
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
### lambda 함수 적용
df['item_price'] = df['item_price'].apply(lambda x:float(x[1:]))

In [ ]:
## 함수를 사용해서 
## item_price $부분을 없애고, float타입으로 변경해서 입력하시오

def func(x):
  return float(x[1:])

### 함수호출
df['item_price'] = df['item_price'].apply(func)

In [ ]:
df.describe()

In [ ]:
df.sort_values('item_price',ascending=False).head(20)

In [42]:
df['item_price'].sum()
df['item_price'].mean()
df['item_price'].max()
df['item_price'].min()

np.float64(1.09)

In [45]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
# item_name으로 그룹핑을 해서 개수를 나열한 것.
df.groupby('item_name').value_counts()

In [ ]:
# df.groupby('학교').min()
df['학교'].value_counts()