In [59]:
import pandas as pd
import numpy as np
df = pd.read_excel('score.xlsx',index_col='지원번호')

In [ ]:
## 키 185  이상만 출력해보세요
filt = df['키'] >= 185
df[filt]
df[~filt]

In [ ]:
## 키가 185 이상이면서 학교가 구로고인 행생을 출력하시오.
filt = (df['키'] >= 185) & (df['학교'] == '구로고')
df[filt]

In [ ]:
## 키가 180이상이거나,국어점수가 60이상인 학생을 출력하시오
filt = (df['키'] >=180) | (df['국어'] >=60)
df[filt]

In [ ]:
## SW특기가 python,java 학생을 출력하시오.
langs = ['python','java']
# filt =  df['SW특기'].isin(langs) # isin(리스트 타입)
filt = df['SW특기'].str.lower().isin(langs)  # 소문자로 변활후 검색
df[filt]

In [ ]:
## java가 포함되어 있는 학생을 출력하시오.
# contanins
# 같은 글자만 비교해서 출력
filt = df['SW특기'].str.lower().str.contains('java',na=False)  # na = filt : NaN테이터 처리
# 기존데이터를 소문자 변활후 비교
filt = df['SW특기'].str.contains('Java',na=False)  # na = filt : NaN테이터 처리
df[filt]

* sort_values # 컬럼으로 정렬
* sort_index : index로 정렬

In [ ]:
## 키 컬럼을 순차정렬하시오.
# df.sort_nalues(컬럼이 들어옴.)
df.sort_values('키')
df.sort_values('국어')
df.sort_values('영어',ascending=False)  # 영어기준 역순정렬

In [ ]:
# index 정렬
df.sort_index()                  # 순차정렬
df.sort_index(ascending=False)   # 역순정렬

In [ ]:
## 컬럼전체를 변경 - 해당되는 것을 찾아서 변경
df['학교'].replace({'구로고':'가산고'},inplace=True)
df

컬럼값 변경 : 컬럼에 값을 입력하면 값이 변경됨.

In [ ]:
# 컬럼자체를 변경
# 해당 컬럼 값을 입력하면 변경됨.
df['SW특기'].str.lower()
df['SW특기'] = df['SW특기'].str.lower()
df

In [ ]:
df['키'] = 1
df

In [ ]:
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

In [ ]:
# 컬럼값 변경 : 해당컬럼에 값을 입력하면 됨.
# 단 타입이 같아야 함.
df['학교'] = df['학교']+'등학교'

# 같은 타입만 더하기 가능
# df['키'] = 'cm'  # 에러
# df['키'].astype(str) + 'cm' # 가능

In [ ]:
# 구로고 학생만 국어점수 50 변경하시오.
filt = (df['학교'] =='구로고')
# 컬럼으로 비교하고 값의 변경은 row값을 찾아서 변경해야 함
df.loc[filt,'국어'] = 50

In [ ]:
# 컬럼 추가
# 없는 컬럼명을 입력하면 컬럼이 추가 됨.
df['총합'] = df['국어']+df['영어']+df['수학']+df['과학']+df['사회']
df.columns

In [126]:
c_list = list(df.columns)
type(c_list[0:7])  # list 타입
type(c_list[-1])   # str 타입

str

In [ ]:

# 컬럼순서 변경 : 컬럼의 타입을 일치한 후 더하기를 해주면 됨.
# 리스트 + 리그스(문자열) + 리스트(문자열)
df = df[c_list[0:7]+[c_list[-1]]+[c_list[8]]]
df

In [ ]:
# 컬럼 전체 변경
# df['컬럼'] = 값

In [ ]:
# 평균컬럼을 넣어서, 이름 바로 뒤로 위치를 변경하시오.
# 없는 컬럼을 입력하면 추가, 있는 컬럼에 값을 입력하면 변경
df['평균'] = df['총합']/5
df

In [ ]:
c_list = list(df.columns)
df = df[[c_list[0]]+[c_list[-1]]+c_list[1:9]]
df

In [ ]:
# 결과컬럼을 추가해서 평균 80점이상 , 합격 ,불학격 출력하시오.
# 결과컬럼 추가
# 필터적용
# 합격,불합격 입력 조건에 맞는 값을 결과커럼에 입력을 하려면,df.loc
df['결과'] = '불합격'
filt = df['평균']>=80
df['결과'] = df.loc[filt]

In [ ]:
## 컬럼 삭제 : drop (columns), 적용 inplace = True
# df.drop(columns=['평균'],inplace=True)  # 1개 컬럼 삭제
# df.drop(columns=['결과','총합'],inplace=True)  # 2개 컬럼 삭제

In [ ]:
## index 삭제 : drop (index), 적용 inplace = True
# df.drop(index=['1번']) # index를 가지고 삭제
df.drop(index=['1번','3번']) # index를 가지고 삭제

# 수학점수가 80점 이하 삭제
filt = df['수학']<80
# df.drop(index=df[filt].index)

In [ ]:
## 컬럼에 해당되는 값을 다른 값으로 변경 : df.replace
## 컬럼값을 변겨 : df[컬럼]
## 컬럼추가 : df[컬럼]
## 컬럼삭제 : df.drop(columns),df.drop(index)
## 컬럼의 특정값을 변경 : df.loc(조건,컬럼) = 값

# row 추가 : 없는 index값을 입력하면 추가
# row 수정 : 있는 index값을 입력하면 수정
# 특정 컴럼의 값을 수정 df.loc[조건,컬럼] = 값
# row 삭제 : df.drop(index=[인덱스번호])

In [ ]:
# row 열을 추가
# 없는 index의 값을 가지고 입력 #df.index
df.loc['9번'] = ['홍길동','디지털고',191,100,89,87,67,90,'Django']

In [ ]:
# row열 수정
# 있는 index에 값을 입력하면 수정
df.loc['1번','국어'] = 80
df.loc['1번',['영어','수학']] = [100,99]
df

In [ ]:
## index 삭제 : drop (index), 적용 inplace = True
# df.drop(index=['1번']) # index를 가지고 삭제
df.drop(index=['1번','3번']) # index를 가지고 삭제

In [ ]:
### 50점 이하에 있는 학생의 점수를 +20
# filt = df['국어'] < 50
# df.loc[filt,'국어'] = df.loc[filt,'국어']+20
# filt = df['국어'] > 50
# df.loc[filt,'국어'] = df.loc[filt,'국어']+10

In [39]:
### 함수
def func(value):
  if value < 50:
    return value+20
  else:
    return value+10

# 함수호출 : apply()
df['국어'] = df['국어'].apply(func)

In [ ]:
# nan 데이터 처리 : fillna : 입력, dropna : 삭제
# df.fillna('python')  # inplace = True

In [ ]:
### 1. 소문자로 취환
### 2. NaN값에  python데이터 입력
df['SW특기'] = df['SW특기'].str.lower()

# isnull : NaN 확인, isnotnull() : NaN 아닌지 확인
filt = df['SW특기'].isnull()
df.loc[filt,'SW특기'] = 'python'

In [ ]:
### 함수
def func(value):
  if pd.notnull(value):
    return value.lower()
  else:
    return "python"


df['SW특시'] = df['SW특기'].apply(func)
df

In [ ]:
# df['이름'] = df['이름'].str[1:3]

### 함수를 사용해서
def func(value):
  return value[1:3]

### 이름 첫글자를 제거해서 이름을 입력하시오.
df['이름'] = df['이름'].apply(func)
df

In [ ]:
### 문자열 함수만 가능 ###
# str[:] : 문자슬라이싱
# str.split() : 분할               str.split(",")
# str.startswith() : 시작글자 인식  str.startswith('서울')
# str.endswith() : 끝글자 인식      str.endswith('.py')
# str.contains() : 포함글자 인식    str.contains('s',na=False)
# str.find() : 문자위치 찾기        str.find('안')
# str.replace() : 문자 대체         str.replace(",":"")
# str.pad() : 문자열 패딩, 특정글자로 채워줌   str.pad(width=20,side='left',fillchar='_')
# str.zfill() : 0으로 채워줌        str.zfill(width=10)   df['국어'].astype(str).str.zfill(width=3)   df['이름'].str.zfill(width=10)
# str.strip() : 공백제거            
# str.lower() : 소문자로 변경
# str.upper() : 대문자로 변경
# str.swapcasw() : 대소문자 변경

In [ ]:
###
# 1. 요일 컬럼 숫자 0 추가
df['요일'] = 0

# 2. 0~6 까지의 숫자를 랜덤으로 수정 df.loc
import random
# df.loc[index,colunms]
# df.iloc[2,9] = random.randint(0,7)
# df.loc['1번','요일'] = random.randint(0,7)
for i in range(8):
  df.iloc[i,9] = random.randint(0,6)
  
# 3. 함수를 사용해서 0-일요일, 1-월요일 ... ,6-토요일로 변경하싱오.
def func(value):
  if value == 0: return '일요일'
  elif value == 1: return '월요일'
  elif value == 2: return '화요일'
  elif value == 3: return '수요일'
  elif value == 4: return '목요일'
  elif value == 5: return '금요일'
  elif value == 6: return '토요일'

df['요일'] = df['요일'].apply(func)

In [116]:
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기   요일
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python  화요일
2번    강태원   구로고  184   40   35   50  55  25        Java  수요일
3번    강호림   구로고  168   80   75   70  80  75  Javascript  일요일
4번    김수찬   구로고  187   40   60   70  75  80         NaN  금요일
5번    김재욱   구로고  188   15   20   10  35  10         NaN  금요일
6번    박동현  디지털고  202   80  100   95  85  80           C  토요일
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON  수요일
8반    승근열  디지털고  190  100   85   90  95  95          C#  화요일