In [2]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_excel('score.xlsx',index_col='지원번호')

In [ ]:
### 그룹화
# 해당되는 그룹의 리스트 보여줌
# df.groupby('학교').get_group('구로고')
# df.groupby('학교').mean()
df.groupby('학교').size()  # 해당 학교 학생수 확인
df.groupby('학교').size()['구로고']   
df.groupby('학교').size()['디지털고']   
df.groupby('학교')['키'].mean()   # 학교별 키의 평균값 출력

In [ ]:
df.groupby('학교').get_group('구로고')

In [ ]:
df.groupby('학교').size()

그룹별로 최대값,최소값,평균,합계

In [ ]:
# 학교 그룹별 - 키,평균 출력
df.groupby('학교')['키'].mean()
# 학교 그룹별 - 키,국어점수 평균 출력
df.groupby('학교')[['키','국어']].mean()
df.groupby('학교')['키'].max()

In [ ]:
# 컬럼별 최대값,최소값,평균,합계,표준편차
df['키'].mean()

np.float64(188.0)

In [ ]:
df.groupby('학교')  # 그룹이 됨.
df.groupby('학교')['키'].mean()

학교
구로고     184.800000
디지털고    193.333333
Name: 키, dtype: float64

In [29]:
# 컬럼을 추가
df['학년'] = [3,3,2,1,3,2,2,1]

In [31]:
df.groupby(['학교','학년']).size()

학교    학년
구로고   1     1
      2     1
      3     3
디지털고  1     1
      2     2
dtype: int64

In [ ]:
df.groupby('학교')[['이름','SW특기']].count()

In [ ]:
df.groupby('학교').count()
df.groupby('학년')['이름'].count()

In [43]:
df.groupby('학년').sum().sort_values('키')
df.groupby('학교').sum().sort_values('키')
df.groupby('학교')['키'].max()

학교
구로고     197
디지털고    202
Name: 키, dtype: int64

In [ ]:
### 그룹화 
# 컬럼을 기준으로 그룹핀 - df.groupby(컬럼)  sum():합계, count():개수. sizw():크기
df.groupby('학교').count()
df.groupby(['학교','학년']).count()
# 컬럼지정필요 : df.groupby(컬럼)[숫자타입컬럼]   mean(),max(),min()
df.groupby('학교')['키'].min()
df.groupby('학교')[['키','학년']].min()

# 그룹별 키로 정렬 , ascending-False : 역순정렬
df.groupby('학년')['키'].mean().sort_values(ascending=False)

### value_count() : 그룹핑 개수
df.groupby('학교')['학년'].value_counts().loc['구로고']
df.groupby('학교')['학년'].value_counts(normalize=True).loc['구로고']

In [ ]:
df.value_counts()

In [ ]:
# 학교로 그룹핑 학년으로 학생수 출력
## 그룹핑을 했을대 사용되는 개수
school = df.groupby('학교')['학년'].value_counts()

In [ ]:
### 학교로 그륩핑을 해서 구로고 학생만 학년으로 학생수 출력
df.groupby('학교')['학년'].value_counts().loc['구로고']
# 퍼센트로 출력됨 : normalize=True
df.groupby('학교')['학년'].value_counts(normalize=True).loc['구로고']

In [ ]:
# 구로고 학생의 키의 합계를 구하시오.
df.groupby('학교')['키'].sum().value_counts()

In [ ]:
df_s = df.groupby('학교')['키'].sum()
df_s.loc[df.groupby('학교')['키'].sum()>600]

In [ ]:
df.groupby('학교')['키'].mean()
df.groupby('학교')['키'].min()
df.groupby('학교')['키'].max()
df.groupby('학교')['키'].sum()
df.groupby('학교')['키'].agg(['mean','min','max','sum'])

In [89]:
df['학교'].value_counts()

학교
구로고     5
디지털고    3
Name: count, dtype: int64